<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="POST">
      {% csrf_token %}
      {{form.title}}
      <input type="submit" name="Add">
    </form>

    {% for task in tasks %}
      <a href="{% url 'update' task.id %}">Update</a>
      <a href="{% url 'delete' task.id %}">Delete</a>
      {% if task.completed %}
        <strike>{{task}}</strike>
      {% else %}
        <p>{{task}}</p>
      {% endif %}
    {% endfor %}
  </body>
</html>
